/* DO NOT CHANGE THIS ROOT CLASS NAME*/
#task-3 {
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .search-bar {
      flex: 1;
      margin-right: 15px;
      margin-bottom: 10px;

      input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 40vw;
        max-width: 300px;
      }
    }

    form {
      display: flex;
      margin-bottom: 10px;
      input[type="text"] {
        flex: 1;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px 0 0 5px;
        width: 40vw;
        max-width: 300px;
      }

      button {
        padding: 10px 15px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
      }
    }
  }


  li {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #eee;

    &.done {
      text-decoration: line-through;
      color: #888;
    }

    input[type="checkbox"] {
      margin-right: 15px;
    }

    span {
      flex: 1;
      word-break: break-word;
    }

    button {
      margin-left: 15px;
      padding: 5px 10px;
      background-color: #d9534f;
      color: #fff;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }
  }

  ul {
    list-style: none;
    padding: 0;
  }

  h2 {
    margin-bottom: 10px;
  }
}